.background-image-index {
	background-image: url(/assets/pexels-photo-235985.jpeg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:800px;
	margin: -20px 0 0 -6px;
}


.index-text {
	font-size: 17px;
	font-weight:bold
}


.title {
	padding-top: 5%;
	text-align: center;
}


.quote {
	
	font-size: 30px;
	text-align: center;
}


.wrapper {
    text-align: center;
}


.container-index {
 
  text-align: center;
  max-width: 30em;
  color: white;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 2em;
  font-variant: small-caps;

}

.background-image-new {
	background-image: url(/assets/pexels-photo-382173.jpeg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:800px;
}

.tasklist-new-position {
	padding-top: 150px;
	font-size: 20px;

}


.background-image-showpage {
	background-image: url(/assets/pexels-photo-230776.jpeg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:1000px;
	margin: -20px 0 0 -6px;

}


.showpage-description {
	color: black;
	font-size: 15px;
	text-align: center;
	font-weight:bold
}


.showpage-position {
	font-size: 20px;
	text-align: center;
}


.form {
	  text-align: center;
	  font-weight:bold;
}



.background-image-tasklist-edit {
	background-image: url(/assets/old-letters-portrait-old-letter-51364.jpeg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:1000px;

	
}


.tasklist-edit-position {
	padding-top: 200px;
	font-size: 20px;

}



.background-image-task-edit {
	background-image: url(/assets/pexels-photo-126627.jpeg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:800px;


	}



.task-h3 {
	font-size: 60px;
	color:black;
}


.task-edit-position {
	padding-top: 125px;
	
}


.task-edit-position {
	padding-top: 80px;
	font-size: 20px;
	color:black;


}



